<section class="section-container">
  <div class="row title">
    <h1>Email sent!</h1>
  </div>
  <div class="row">
    <%= button_to("Back", admin_subscribers_path, method: "get", class: "btn btn-info") %>
  </div>
</section>
