@font-face {
  font-family:"Porter Bold DEMO";
  src:url("Porter_Bold.ttf");
  font-weight:normal;
  font-style:normal;
}

#gallery {
  padding: 50px;
  background-color: rgba(0,0,0,0.7);
}

#gallery .title {
  margin: 10px;
  padding: 10px;
  width: 100vw;
  min-height: 10vh;

  color: white;
  text-align: center;

  font-family: "Porter Bold DEMO", Helvetica;
  font-size: 20px;
  font-weight: bold;
}

#gallery .content {
  margin: 10px;
  padding: 10px;
  width: 100%;
  min-height: 25vh;
  
  color: white;
  text-align: justify;

  font-size: 16px;
}

#gallery .photo-box {
  margin: 15px 0px;
}

#gallery .photo img {
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
}

#gallery .photo:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 980px) {
  #gallery {
    padding-right: 10px;
    padding-left: 10px;
  }
}
