@font-face {
  font-family:"Porter Bold DEMO";
  src:url("/assets/fonts/Porter_Bold.ttf");
  font-weight:normal;
  font-style:normal;
}

#info {
  padding: 50px;
  background-color: #B55330;
}

#info .title {
  margin: 10px;
  padding: 10px;

  color: #FFC162;
  text-align: center;

  font-family: "PORTER Bold DEMO", Helvetica;
  font-size: 20px;
  font-weight: bold;
}

#info .content {
  margin: 10px;
  padding: 10px;
  
  color: white;
  text-align: justify;

  font-family: Helvetica;
  font-size: 16px;
}

.vdivide > [class*="col-lg-6"]:nth-child(n + 3):after {
  content: "";
  background-color: #FFC162;
  position: absolute;
  top: 0;
  bottom: 0;
  @media (max-width: 767px) {
    width: 100%;
    height: 1px;
    left: 0;
    top: -4px; // quickfix to center line between columns
  }
  @media (min-width: 768px) {
    width: 1px;
    height: auto;
    left: -1px; // quickfix to hide divider on left side
  }
}

#info .content {
  margin: 10px;
  padding: 10px;
  
  color: white;
  text-align: justify;

  font-family: Helvetica;
  font-size: 16px;
}

#info .title {
  margin: 10px;
  padding: 10px;

  color: #FFC162;
  text-align: center;

  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 980px) {
  #info {
    padding-right: 10px;
    padding-left: 10px;
  }
}
