@font-face {
  font-family:"Porter Bold DEMO";
  src:url("Porter_Bold.ttf");
  font-weight:normal;
  font-style:normal;
}

#partners {
  padding: 50px;
  background-color: rgba(255,255,255,0.7);
  background-image: image-url('background_sponsors.jpg');
}

#partners .title {
  margin: 10px;
  padding: 10px;
  min-height: 10vh;

  font-family: "Porter Bold DEMO", Helvetica; 

  color: black;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
}

#partners .content {
  margin: 10px;
  padding: 10px;
  min-height: 25vh;
  
  color: black;
  text-align: justify;

  font-size: 16px;
}

#partners .partner-box {
  margin: 15px 0px;
}

#partners .partner-logo {
  align-items: center;
  overflow: hidden;
}

#partners .partner-logo img {
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
}

#partners .partner-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 980px) {
  #partners {
    padding-right: 10px;
    padding-left: 10px;
  }
}