#about-us {
  background-color: #000;
  // background-color: #211807;
  position: relative;
  padding: 60px 0px;    
}

#about-us::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#about-us img {
  width: 200px;
  height: 200px;
}

#about-us p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
