#faq {
  padding: 60px 0px;
  background-image: url(image_path('backgrounds/leaf-right-bottom.png'));
  background-position: top right;
  background-size: 180px auto;
  background-repeat: no-repeat;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list a {
  padding: 18px 0;
  padding-right: 20px;
  
  display: block;
  position: relative;
  
  color: #ce8536;
  font-family: 'Avenir Medium', 'Raleway', sans-serif;
  transition: 0.4s ease-in-out;
}

#faq #faq-list i {
  position: absolute;
  right: 0px;
  font-size: 20px;
  top: 20%;
}

#faq #faq-list .question {
  font-size: 18px;
}

#faq #faq-list .answer {
  font-size: 18px;
}

#faq #faq-list a.collapsed {
  color: #fff;
}

#faq #faq-list a.collapse {
}

#faq #faq-list a.collapsed:hover {
  color: #ce8536;
}

#faq #faq-list a.collapsed i::before {
  content: "\f055";
}

#faq #faq-list p {
  margin-bottom: 5px;
}

@media (min-width: 992px) {
  #faq {
    background-size: 360px auto;
  }
}
