#inf-photo {
  background-color: #000;
  // background-color: #211807;
  position: relative;
  padding: 60px 0px;    
}

#inf-photo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#inf-photo p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
