#partners {
  padding: 60px 0px;
  background: #fff;
}

#partners h2 {
  color: #444;
}

#partners .partner-box {
  margin: 15px 0px;
}

#partners .partner-logo {
  align-items: center;
  overflow: hidden;
}

#partners .partner-logo img {
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
}

#partners .partner-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#partners img {
  transition: all 0.4s ease-in-out;
}
