<section id="info" class="section-container">
  <div class="row">
    <div class="col-lg-6 col-md-12 description">
    	<div class="title">Description</div>
      <div class="content">
        <%= raw sanitize @event.event_info.description, tags: %w(strong em a br), attributes: %w(href) %>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 synopsis">
    	<div class="title">Synopsis</div>
      <div class="content"><%= @event.event_info.synopsis %></div>
    </div>
  </div>
</section>
