<section id="info" class="section-container">
  <div class="row">
    <div class="col-lg-6 col-md-12 description">
    	<div class="title">
        Description
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui id ornare arcu odio ut. Tempus egestas sed sed risus pretium quam vulputate dignissim. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Urna id volutpat lacus laoreet non curabitur gravida arcu. Vitae justo eget magna fermentum iaculis eu non diam. Ornare arcu odio ut sem. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Purus sit amet volutpat consequat mauris. Feugiat pretium nibh ipsum consequat nisl vel pretium. Tellus mauris a diam maecenas sed. Morbi tristique senectus et netus et malesuada fames. Dui id ornare arcu odio. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus.
      </div>
    </div>
    <div class="col-lg-6 col-md-12 synopsis">
    	<div class="title">
        Synopsis
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui id ornare arcu odio ut. Tempus egestas sed sed risus pretium quam vulputate dignissim. Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Urna id volutpat lacus laoreet non curabitur gravida arcu. Vitae justo eget magna fermentum iaculis eu non diam. Ornare arcu odio ut sem. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Purus sit amet volutpat consequat mauris. Feugiat pretium nibh ipsum consequat nisl vel pretium. Tellus mauris a diam maecenas sed. Morbi tristique senectus et netus et malesuada fames. Dui id ornare arcu odio. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus.
    </div>
  </div>
</section>
