<h1>Editing Event</h1>

<%= render 'form', event: @event, target_url: admin_event_path(@event) %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', admin_events_path %> |
<%= link_to 'View Photo Galleries', admin_event_gallery_photos_path(@event) %>