<% provide(:custom_css, 'admin/events/form') %>

<section id="admin-form" class="section-container">
  <div class="row">
    <div class="title">
      New Event
    </div>
    <div class="content">
      <%= render 'form', event: @event, target_url: admin_events_path %>
      
      <br><br>
      
      <div class="row">
        <div class="col-lg-12">
          <%= link_to "Back", admin_events_path %>
        </div>
      </div>
    </div>
  </div>
</section>
