<% provide(:custom_css, 'admin/faq/form') %>

<section id="admin-form" class="section-container">
  <div class="row">
    <div class="title">
      Edit FAQ
    </div>
    <div class="content">
      <%= render 'form', faq: @faq, target_url: admin_frequently_asked_question_path %>
      
      <br><br>
      
      <div class="row">
        <div class="col-lg-12"></div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <%= button_to('Admin Menu', admin_root_path, method: "get", class: "btn btn-info") %>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <%= button_to('FAQ List', admin_frequently_asked_questions_path, method: "get", class: "btn btn-info") %>
        </div>
      </div>
    </div>
  </div>
</section>
