<br> <br> <br>
<h1>Editing Frequently Asked Question</h1>

<%= render 'form', faq: @faq, target_url: admin_frequently_asked_question_path %>

<%= link_to 'Back', admin_frequently_asked_questions_path %>
