<% provide(:custom_css, 'admin/faq/form') %>

<section id="admin-form" class="section-container">
  <div class="row">
    <div class="title">
      New FAQ
    </div>
    <div class="content">
      <%= render 'form', faq: @faq, target_url: admin_frequently_asked_questions_path %>
      
      <br><br>
      
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6">
          <%= link_to 'Admin Menu', admin_root_path %>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <%= link_to 'FAQ List', admin_frequently_asked_questions_path %>
        </div>
      </div>
    </div>
  </div>
</section>
