#buy-tickets {
  padding: 60px 0;
  background-color: #000;
}

#buy-tickets .card {
  border: none;
  border-radius: 0;
  transition: all  0.3s ease-in-out;
  box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#buy-tickets .card:hover {
  box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}

#buy-tickets .card hr {
  margin: 25px 0;
}

#buy-tickets .card .card-title {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

#buy-tickets .card .card-price {
  font-size: 48px;
  margin: 0;
  color: #ce8536;
}

#buy-tickets .card ul li {
  margin-bottom: 20px;
  color: #000;
}

#buy-tickets .card .text-muted {
  opacity: 0.7;
}

#buy-tickets .card .btn {
  font-size: 15px;
  border-radius: 0;
  padding: 10px 40px;
  transition: all 0.2s;
  border: 2px solid #ce8536;
  background-color: #ce8536;
  color: #fff;
}

#buy-tickets .card .btn:hover {
  background-color: transparent;
  color: #ce8536;
}

#buy-tickets #buy-ticket-modal h4 {
  color: #444;
}

#buy-tickets #buy-ticket-modal input,
#buy-tickets #buy-ticket-modal select {
  border-radius: 0;
}

#buy-tickets #buy-ticket-modal .btn {
  font-size: 15px;
  border-radius: 0;
  padding: 10px 40px;
  transition: all 0.2s;
  border: 2px solid #ce8536;
  background-color: #ce8536;
  color: #fff;
}

#buy-tickets #buy-ticket-modal .btn:hover {
  background-color: transparent;
  border: 2px solid #ce8536;
  color: #ce8536;
}
