<!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About Us</h2>
            <p>NUANSA is an annual arts and cultural event by a group of Indonesian students in NUS.
              It aims to promote the rich and diverse cultures of Indonesia.</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>University Cultural Centre, National University of Singapore</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Saturday to Sunday<br>27-28 October 2019</p>
          </div>
        </div>
      </div>
    </section>