<section id="intro" data-turbolinks="false">
  <div class="intro-container wow fadeIn">
    <div class="intro-content">
      <%= image_tag("lukisan-jati-logo.png", class: "title-logo") %>
      <div class="text-container">
        <p>Monday, 28 October 2019 (Public Holiday)<br >University Cultural Centre Theatre<br >National University of Singapore</p>
      </div>
      <a href="https://www.youtube.com/watch?v=kENe1-ZcBFs" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
      <div class="btn-container">
        <a href="#about" class="btn scrollto">About NUANSA</a>
        <!-- <a href="#intro" class="btn scrollto">Buy Tickets</a> -->
      </div>
    </div>
  </div>
</section>