<div id="donation" class="container">
  <%= image_tag("backgrounds/donation.jpg", class: "donation-main") %>
  <%= image_tag("backgrounds/donation-mobile.jpg", class: "donation-mobile") %>
  <br>
  <br>

  <div class="text-center">
    <%= link_to "Donate Now!", "https://give.asia/campaign/singapore-for-indonesia-covid-19#/", 
        class: "btn", target: "_blank" %>
  </div>
</div>
