<% provide(:custom_css, 'event-components/overview') %>

<div class="content-box">
  <div id="fullpage">
    <div class="content section" id="nuansa2018">
      <div class="content-container">
        <h4>2018</h4>
        <h3>
          Tasasek: <br> 
          The Courage To Choose <br>
        </h3>
        <br>
        <%= image_tag('nuansa_logo/2018.jpg', class: 'logo', alt: 'Tasasek') %>
        <br><br>
        <p>
          This musical show aims to shine the spotlight on Minangkabau culture, one of the thousands of cultures in Indonesia. The show will be a musical production that is supported by various cultural aspects of Minangkabau cultures such as randai, native costumes, as well as sets. Randai itself is an authentic form of performance originated from Minangkabau that is used in special occasions such as weddings or grand events. NUANSA 2018 will adopt randai as one of the key culture of Minangkabau and it will help bringing authenticity towards the production itself. Randai is an interesting performance which highlights emotions and conflicts with its rapid movements and fast-beat percussions while the dancers sing and shout ethnic languages. This unique form of dance will definitely bring new experience to our audience. Moreover, to ensure the quality of the production, NUANSA 2018 will work together with Singapore Mingakabau Association (SMA) as the cultural advisor to ensure the authenticity of our cultural elements.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2017">
      <div class="content-container">
        <h4>2017</h4>
        <h3>
          Galigo: <br>
          The Chaos Within <br>
        </h3>
        <br>
        <%= image_tag('nuansa_logo/2017.jpg', class: 'logo', alt: 'Galigo') %>
        <br><br>
        <p>
          This musical show is a literary adaptation from one of the longest mythical epic ever written: La Galigo. This poetic text is set in Bugis, South Sulawesi and has been recognised by the UNESCO in its Memory of the World Register. Portraying the lives of South Sulawesi people who are heavily clad with values of social roles this musical is meticulously crafted to maintain its authenticity and to allow an immersive experience of Bugis' rich culture for the audience. The production displays its distinctiveness through combining a skillful and imaginative display of music, song and scriptwriting, dance choreography, as well as acting and stage management - all of which are done by our very own talented members.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2015">
      <div class="content-container">
        <h4>2015</h4>
        <h3>Flowers of Asmat</h3>
        <br>
        <%= image_tag('nuansa_logo/2015.jpg', class: 'logo', alt: 'Flowers of Asmat') %>
        <br><br>
        <p>
          This musical show recites the story of twin sisters Teweraut and Anggrek, born in a rural Asmat village of Ewer. Both of them live a peaceful and unsuspecting life. Their lives take an unexpected turn when their father breathes his last. Anggrek believes that continuing her traditional life would bring her happiness and so, decides to marry the newly elected village chief, Akatpits. Teweraut, on the other hand, pursues education in Jakarta so that she can return to Ewer as a teacher. The two inevitably have to part ways. The musical is adapted from Ani Sekarningsih’s most celebrated work “Namaku Teweraut”. Flowers of Asmat brings us the exotic culture of the Asmat society and seeks to question the relevance of our identity in the midst of an increasingly homogeneous world.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2014">
      <div class="content-container">
        <h4>2014</h4>
        <h3>The Priyayi</h3>
        <p>
          This musical show tells the story of Lantip, a boy who grew up in a humble background. He then had to bid farewell to his dear mother and village when he was adopted as a grandson into the priyayi family of Sastrodarsono, who himself came from a humble peasant background before working his way up to earn the prestigious title of “Priyayi”. 
          <br>
          Inspired by the novel “Para Priyayi” by Umar Kayam, NUANSA ’14 presented a musical full of mesmerising dance choreography as well as captivating original music. The Priyayi had brought the beauty of the Javanese culture as we explored how the Sastrodarsono family strove to navigate through the complexities of priyayi.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2013">
      <div class="content-container">
        <h4>2013</h4>
        <h3>Dance of the Earth</h3>
        <p>
          The story was originally written by Oka Rusmini, revolved around the life and struggles of Balinese women. Being born as a Sudra – a person of the lowest echelon in the caste system – Luh Sekar strove to “marry up” for the sake of achieving nobility. After painstaking efforts and endless prayers, her dream came true. Being the prima donna dancer of her village, Sekar caught a Brahman man’s attention which granted her way to climb to the highest caste, Brahman. Just when her dream to marry a Brahman came true, she found out that her marriage was nothing like what she dreamt of as she was caught in her husband’s search for ephemeral pleasure and undue lust. NUANSA’13 revolved around the themes of happiness, true love, freedom, and sacrifice.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2012">
      <div class="content-container">
        <h4>2012</h4>
        <h3>
          Canting: <br>
          A Dying Family, A Dyeing Tradition <br>
        </h3>
        <p>
          This musical show was based on a novel by Arswendo Atmowiloto. It recounted the story of the Ngabehi Sestrokesuma family, which owned a family batik factory with hundreds of workers. Despite the struggles faced by the family, the story ultimately reveals how modern and conservative values can co-exist and complement each other. Canting highlighted Indonesia’s traditional batik-making and Javanese dances, music and culture.
          <br>
          The artistic quality of NUANSA’12 has increased even further. The production was held in the highly coveted UCC Hall, NUS, attracting a full house of 900 audience. The play was also supported by a more elaborate costume, lighting, music and dance.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2011">
      <div class="content-container">
        <h4>2011</h4>
        <h3>Ca Bau Kan</h3>
        <p>
          This musical show was adapted from Remy Sylado’s renowned novel of the same title. It recounted the love story between a ca-bau-kan, a term referring to a woman entertaining rich Chinese businessmen, named Tinung and a successful Chinese businessman, Tan Peng Liang, which was set during the Japanese occupation in Indonesia.
          <br>
          In this fourth production, we continued to evolve as the production began to incorporate more elements of a musical into the show. The hard work of the artistic team gave birth to NUANSA’11, which seamlessly weaves various traditional dances and songs into the newly introduced format of a musical cultural production.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2010">
      <div class="content-container">
        <h4>2010</h4>
        <h3>
          This Earth of Mankind
        </h3>
        <p>
          This musical show was an adaptation of the first book of the epic literary tetralogy: The Buru, by the famous Indonesian novelist Pramoedya Ananta Toer. It told the tale of Minke, a descendant of Javanese royalty and his struggles against the unjust life during the Dutch colonisation period. Staged in UCC Theatre, NUS, NUANSA’10 was a significant milestone in our young history, as the team managed to push the bar for the production quality to a whole new level. Additionally, NUANSA’10 was also our first production where the audience were charged for the show. The revenue stream from the sales of around 700 tickets gave the team more financial flexibility to obtain costumes and build sets and properties to improve the artistic quality of the cultural production, and helped ensure the sustainability of the production in the future.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2009">
      <div class="content-container">
        <h4>2009</h4>
        <h3>
          Sitti Nurbaya: <br>
          Unfulfilled Love <br>
        </h3>
        <p>
          This musical show was based on Marah Roesli’s famous Indonesian novel with the same title. This time, the culture of the Minangkabau, West Sumatra, was chosen as our production’s main cultural theme. The story itself revolved around the love story of two teenagers, Samsul Bahri and Sitti Nurbaya in the early 20th century, when forced-marriage was commonplace in Indonesia. 
          <br>
          Only our second production, NUANSA’09 became the first of our productions that was fully staged in English, affirming our vision to reach out to the Singapore community as a whole. Like the previous NUANSA, this performance was also staged free of charge in the University Cultural Centre (UCC) Theatre, NUS, which again successfully attracted more than 400 audience.
        </p>
      </div>
    </div>

    <div class="content section" id="nuansa2008">
      <div class="content-container">
        <h4>2008</h4>
        <h3>
          Prambanan: <br>
          A Thousand Beauties <br>
        </h3>
        <p>
          This musical show was adapted from the famous Indonesian folklore from 9th century about the origin of Candi Prambanan, a Hindu Temple in Central Java, Indonesia. It followed an intricate tale of a man's attempt to win a princess’  love, intertwined with deceit and rejection.
          <br>
          This maiden production was staged at the University Cultural Centre Theatre, NUS, with more than 400 audience. The show was free of charge (under the support of Exxon Mobil Campus Concerts) and performed in Bahasa Indonesia with the infusion of various authentic traditional dances and musical instruments from Indonesia.
        </p>
      </div>
    </div>
      <div style="clear: both;"></div>
  </div>
</div>
<%= javascript_include_tag('event-components/overview-fullpage.js') %>
