/*
  Custom CSS file for overview Past NUANSA
*/

.logo {
  border-radius: 15px;
  width: 20%;
  max-width:100%;
  height: auto;  
}

.content-box {
  margin-left: 300px;
  margin-right: 100px;
}

.content {
  text-align: center;
}

.content p, h3, h4 {
  color: white;
}

/* Custom container size and color behind content */
.content-container {
  background-color: rgba(154, 83, 48, 0.7);
  padding: 100px 50px 25px 50px;
  width: 100%;
  height: 100%;
}

/* Custom container offset background coloring */
$offsetContentContainer: 30px;

.fp-tableCell {
  margin-left: -$offsetContentContainer;
  margin-right: -$offsetContentContainer;
}

.content-container {
  padding-left: $offsetContentContainer;
  padding-right: $offsetContentContainer;
}

/* Make text vertical align to be in the middle */
.fp-tableCell {
  padding-bottom: 75px;
  vertical-align: top;
}

/* Container behind vertical navbar */
#fp-nav {
  top: 20%;
  margin-left: 100px;
  width: 150px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Distance between bullets */
#fp-nav ul li, .fp-slidesNav ul li {
  height: 50px;
}

/* Customise color for the bullets */
#fp-nav ul li a span, .fp-slidesNav ul li a span  {
  background: rgba(0, 0, 0, 0.0);
}

/* Customise font for bullet names */
.fp-sr-only {
  color: #FFC162;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  clip: rect(0px, 200px, 200px, 0px);
}

/* Customise shape for unactive bullets */
#fp-nav ul li a span, .fp-slidesNav ul li a span, 
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  height: auto;
  width: 120px;
  border-radius: 10px;

  font-size: 18px;
  margin: 0px;
  text-align: center;
}

/* Customise shape for active bullet */
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  height: auto;
  width: 120px;
  border-radius: 10px;

  font-size: 30px;
  margin: 0px;
  margin-top: -10px;
  text-align: center;
}

@media (max-width: 980px) {
  .logo {
    width: 400px;
  }

  #fp-nav.fp-left {
    left: 0px;
  }

  /* Custom area for the content */
  .content-box {
    margin-left: 100px;
    margin-right: 5px;
  }

  .content {
    padding: 10px;
  }

  /* Custom container size and color behind content */
  .content-container {
    padding-top: 125px;
  }

  /* Custom container offset background coloring */
  $offsetContentContainer: 20px;

  .fp-tableCell {
    margin-left: -$offsetContentContainer;
    margin-right: -$offsetContentContainer;
  }

  .content-container {
    padding-left: $offsetContentContainer;
    padding-right: $offsetContentContainer;
  }

  /* Distance between bullets */
  #fp-nav ul li, .fp-slidesNav ul li {
    height: 40px;
  }

  /* Customise shape for unactive bullets */
  #fp-nav ul li a span, .fp-slidesNav ul li a span, 
  #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    height: 40px;
    width: 55px;
    border-radius: 10px;

    font-size: 14px;
  }

  /* Customise shape for active bullet */
  #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, 
  #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    height: 40px;
    width: 55px;
    border-radius: 10px;

    font-size: 18px;
  }

  /* Container behind vertical navbar */
  #fp-nav {
    top: 20%;
    margin-left: 100px;
    width: 150px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .fp-tableCell {
    padding-bottom: 125px;
  }

  #fp-nav {
    top: 35%;
    margin-left: 10px;
    width: 75px;
  }

  #fp-nav ul li .fp-tooltip {
    visibility: hidden;
  }

  .content h4 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  .content h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .content p {
    font-size: 15px;
    text-align: center;
  }
}
