<section id="admin-ticket-claim" class="section-container">
  <div class="row">
    <div class="title">
      Ticket Claim
    </div>

    <div class="content">
      <%= render "ticket_details", ticket: @ticket %>

      <br><br>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <%= button_to("Back to Tickets", admin_tickets_path, method: :get, class: "btn btn-info") %>
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12">
          <%= button_to("Claim Ticket", admin_claim_ticket_path, params: { claim_token: @ticket.claim_token },
            class: "btn btn-info", disabled: @ticket.claimed?, data: { confirm: "Do you want to claim this ticket?" }) %>
        </div>
      </div>
    </div>
  </div>
</section>
