<section id="admin-ticket-claim" class="section-container">
  <div class="row">
    <div class="title">
      Ticket Claim
    </div>

    <div class="content">
      <div class="col-lg-12">
        <% @tickets.each do |ticket| %>
          <div class="row info-fields">
            <div class="col-lg-12"></div>
            <div class="col-lg-4 col-md-12 col-xs-12 info-item">
              <%= ticket.claimed? ? "Claimed at: #{ticket.claimed_at.getlocal}" : 'Not yet claimed' %>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12 info-item">
              <%= "Purchased at: #{ticket.purchased_at.getlocal}" %>
            </div>
            <div class="col-lg-2 col-md-12 col-xs-12 info-item">
              <%= ticket.ticket_type.empty? ? '-' : ticket.ticket_type %>
            </div>

            <div class="col-lg-2 col-md-12 col-xs-12 info-item">
              <%= button_to("Claim Ticket", admin_claim_ticket_path, params: { claim_token: ticket.customer.claim_token },
                class: "btn btn-info", disabled: true, data: { confirm: "Do  you want to claim this ticket?" }) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
