<br><br><br><br>
<center>
  <h1 style="color: white"> SHOW PAGE </h1>

  <%= render "ticket_details", ticket: @ticket %>

  <br> <%= button_to("Back to Tickets", admin_tickets_path, method: :get) %>
</center>
