@import 'single-page-partials/gallery.css';
@import 'single-page-partials/info.css';
@import 'single-page-partials/intro.css';
@import 'single-page-partials/partners.css';

.section-container {
  background-color: black;
  min-height: 90vh;
  max-width: 100vw;
}

h3 {
  font-family: Oswald, sans-serif;
  color: #D2B72C;
}

.sponsor {
  height: 80%;
  text-align: center;
}

.casts {
  padding-top: 20px;
  height: 200px;
}

.leftbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 449px;
}

.rightbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 500px;
}

.photos {
  padding-top: 20px;
}

.photo_container {
  margin: auto;
  width: 80%;
}
