@import 'single-page-partials/gallery.scss';
@import 'single-page-partials/info.scss';
@import 'single-page-partials/intro.scss';
@import 'single-page-partials/partners.scss';

.section-container {
  background-color: black;
  min-height: 90vh;
  max-width: 100vw;
}

h3 {
  font-family: Oswald, sans-serif;
  color: #D2B72C;
}

.sponsor {
  height: 80%;
  text-align: center;
}

.casts {
  padding-top: 20px;
  height: 200px;
}

.leftbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 449px;
}

.rightbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 500px;
}

.photos {
  padding-top: 20px;
}

.photo_container {
  margin: auto;
  width: 80%;
}

.load-more-container{
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

.load-more{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  transition: 0.5s;
  color: #ce8536;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #ce8536;
  border-radius: 0;
}

.load-more:hover {
  background: #ce8536;
  color: #fff;
}

a:hover,
a:active,
a:focus {
  color: #ce8536;
  outline: none;
  text-decoration: none;
}