@import 'single-page-partials/gallery.scss';
@import 'single-page-partials/info.scss';
@import 'single-page-partials/intro.scss';
@import 'single-page-partials/partners.scss';

.section-container {
  background-color: black;
  min-height: 90vh;
  max-width: 100vw;
}

h3 {
  font-family: Oswald, sans-serif;
  color: #D2B72C;
}

.sponsor {
  height: 80%;
  text-align: center;
}

.casts {
  padding-top: 20px;
  height: 200px;
}

.leftbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 449px;
}

.rightbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #7C5537;
  width: 70%;
  margin: auto;
  height: 500px;
}

.photos {
  padding-top: 20px;
}

.photo_container {
  margin: auto;
  width: 80%;
}

.vdivide > [class*="col-lg-6"]:nth-child(n + 3):after {
  content: "";
  background-color: #FFC162;
  position: absolute;
  top: 0;
  bottom: 0;

  @media (max-width: 767px) {
    width: 100%;
    height: 1px;
    left: 0;
    top: -4px; // quickfix to center line between columns
  }
  @media (min-width: 768px) {
    width: 1px;
    height: auto;
    left: -1px; // quickfix to hide divider on left side
  }
}
