#admin-sponsors-index .caption-name {
  margin: 10px 0px;
  font-weight: bold;
}

#admin-sponsors-index .caption-type {
  margin: 10px 0px;
  font-weight: bold;
}

#admin-sponsors-index .button {
  margin: 10px 0px;
  font-weight: bold;
}
