<section id="about-us">
  <div class="container-fluid">
    <div class="section-header">
      <h2>About Us</h2>
    </div>

    <div class="row equal align-items-center justify-content-center">
      <div class="col-lg-2 col-md-2 text-center">
        <%= image_tag("u-logo.png", alt: "Nuansa Logo") %>
      </div>
      <div class="col-lg-8 col-md-8 text-justify">
        <p>NUANSA is a cultural production group based in the National University of Singapore. Through contemporary musical theatre, we attempt to showcase the beauty and diversity of Indonesian cultures. We consistently endeavor to bring the audience through an immersive journey by ensuring the cultural authenticity and artistic integrity of our shows and events. Since our inception in 2008, we have grown from strength to strength: from a small independent Indonesian performance group to one of the biggest student productions in Singapore, featuring a large and diverse community from different nationalities.</p>
      </div>
    </div>
  </div>
</section>
