<section id="buy-tickets">
  <div class="container-fluid mb-5">
    <div class="section-header"></div>
    <div class="row witness">
      <div class="col black-overlay">
        <div class="row flex-column align-items-center justify-content-center">
          <div class="col-lg-8 my-5">
            <%= image_tag "witness-lukisan-jati.png" %>
          </div>
          <div class="col-lg-3 text-center mb-5">
            <%= link_to "Matinee", buy_special_path, class: "btn ticket-btn" %>
            <%= link_to "Night", buy_special_path, class: "btn ticket-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
