<section id='gallery-photo'>
	<div class = 'container'>
		<div class = 'section-header'>
			<h2> Let's Rewind! </h2>
		</div>
		<div class='row'>
			<div class = 'container'>
				<div class='customized-container'>
					<%= render @gallery_photos %>
				</div>
			</div>
		</div>
		<% if @current_counted < @current_event.gallery_photos.count %>
			<div class="load-more-container">
				<%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
				<%= link_to "Load More", gallery_photos_path, class: "load-more" %>
			</div>
		<% end %>
	</div>
</section>