<section id="intro">
  <div class="intro-container wow fadeIn">
    <div class="intro-content">
      <%= image_tag("lukisan-jati-logo.png", class: "title-logo") %>
      <div class="text-container">
        <p>Monday, 28 October 2019 (Public Holiday)<br >University Cultural Centre Theatre<br >National University of Singapore</p>
      </div>
      <a href="https://youtu.be/kqOBS3v0gEc" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
      <div class="btn-container">
        <%= link_to "E-Booklet", serve_booklet_path, class: "btn" %>
        <%= link_to "Donation", donation_path, class: "btn" %>
      </div>
    </div>
  </div>
</section>
