#admin-gallery-form .event-fields {
  background-color: rgba(255,255,255,0.2);
  margin: 10px;
  padding: 30px 10px;
  text-align: center;
}

#admin-gallery-form .event-fields .row {
  padding: 20px 10px;
}

#admin-gallery-form .event-fields .field-key {
  font-weight: bold;
}

#admin-gallery-form .event-fields .field-value {
  text-align: left;
  word-wrap: break-word;
}

#admin-gallery-form input {
  width: 100%;
  color: black;
}

#admin-gallery-form .upload-button {
  background-color: white;
  color: black;
}

#admin-gallery-form .submit-button {
  background-color: white;
  color: black;
  width: 100px;
}
