<h1>Editing Admin Testimony</h1>

<%= render 'form', testimony: @testimony, target_url: admin_testimony_path %>

<%= link_to 'Show', admin_testimony_path(@testimony) %> |
<%= link_to 'Back', admin_testimonies_path %>
