@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
  background-image: image-url("backgrounds/past_events_overview.png");
  background-size: 800px 800px;
}
