@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
  background-image: image-url("backgrounds/past_events_overview.png");
  background-size: 800px 800px;
}

.logo {
  border-radius: 15px;
  width: 20%;
  max-width:100%;
  height: auto;  
}

.content-box {
  margin-left: 200px;
  margin-right: 100px;
}

.content {
  padding: 50px;
  border-radius: 15px;
  background-color: rgba(54, 40, 15, 0.7);
  text-align: center;
}

.content p, h3, h4 {
  color: white;
}

/* Distance between bullets */
#fp-nav ul li, .fp-slidesNav ul li {
  height: 70px;
}

/* Customise color for the bullets */
#fp-nav ul li a span, .fp-slidesNav ul li a span  {
  background: rgba(96, 96, 96, 0.8);
}

/* Customise font for bullet names */
.fp-sr-only {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  clip: rect(0px, 200px, 200px, 0px);
}

/* Customise shape for unactive bullets */
#fp-nav ul li a span, .fp-slidesNav ul li a span, 
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  height: 50px;
  width: 100px;
  margin: 10px;
  border-radius: 10px;
}

/* Customise shape for active bullet */
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 70px;
  width: 140px;
  margin: 10px;
  border-radius: 10px;
  margin-top: -2px;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
}

/*
Uncomment if want to use tooltip

#fp-nav ul li .fp-tooltip.fp-right {
  background-color: red;
  width: 80px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}
*/

@media (max-width: 980px) {
  .logo {
    width: 590px;
  }

  .content-box {
    margin-left: 200px;
    margin-right: 20px;
  }

  .content {
    padding: 20px;
  }

  .content h4 {
    margin-top: 150px;
  }

  #fp-nav ul li .fp-tooltip {
    visibility: hidden;
  }

  .content h4 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }

  .content h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .content p {
    font-size: 30px;
    text-align: center;
  }
}
