@import 'home/about_us.scss';
@import 'home/buy_tickets.scss';
@import 'home/faq.scss';
@import 'home/intro.scss';
@import 'home/partners.scss';
@import 'home/past_nuansa.scss';
@import 'home/testimonials.scss';
@import 'home/gallery.scss';

body {
  background: #fff;
  color: #fff;
  font-family: "Avenir Medium", "Open Sans", sans-serif;
}

a {
  color: #ce8536;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #ce8536;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Porter Bold", "Raleway", sans-serif;
  padding: 0;
  margin: 0 0 20px 0;
}

.wow {
  visibility: hidden;
}

.section-header {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.section-header::before {
  content: "";
  background-color: #ffc05f;

  display: block;
  width: 60px;
  height: 5px;

  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
}

.section-header h2 {
  color: #ffc05f;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin-bottom: 10px;
}

.container .record {
  padding: 10px;
  background-color: #F0F0F0;
  margin-bottom: 10px;
}
.container .customized-container {
  top-padding: 10px;
}

.load-more-container{
  @extend .container;
  text-align: center;
}

.load-more{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  transition: 0.5s;
  color: #ce8536;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.load-more-arrow {
  width: 10%;
  height: 10%;
}

@media (max-width: 991px) {
  .section-header h2 {
    font-size: 20px;
  }
}

#sold-out-night {
  margin-top: 50px;
  height: 50vw;
  width: 100vw;
  background: image-url('backgrounds/sold-out-night.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#sold-out-matinee {
  margin-top: 50px;
  height: 50vw;
  width: 100vw;
  background: image-url('backgrounds/sold-out-matinee.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#buy-special{
  margin-top: 80px;
  height: 50vw;
  width: 100vw;
  background: image-url('backgrounds/buy-special.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

@media (max-width: 680px) {
  #sold-out-night {
      height: 200vw;
      background: image-url('backgrounds/mobile-sold-out-night.jpg');
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
  }

  #sold-out-matinee {
      height: 200vw;
      background: image-url('backgrounds/mobile-sold-out-matinee.jpg');
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
  }

  #buy-special {
      height: 200vw;
      background: image-url('backgrounds/buy-special-mobile.png');
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
  }
}
