@import 'home-components/*';

body {
	background-image: image-url("backgrounds/past_events_overview.png");
	background-size: 800px 800px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #ce8536;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #ce8536;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #fff;
}

.main-page {
  margin-top: 70px;
}

.wow {
  visibility: hidden;
}

/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #ce8536;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}