<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <%= image_tag("logo.png", height: '200') %>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <% 
          str = ""
          menus = {
            "intro" => "Home",
            "about" => "About Us",
            "testimonials" => "Testimonial",
            "partners" => "Partners",
            "faq" => "FAQ",
            "events" => "Past NUANSA",
            "buy-tickets" => "Buy Tickets"
          }

          menus.each do |key, value|
            is_selected = false
            if current_controller_name == "welcome"
              is_selected = key == "intro"
            elsif current_controller_name == key
              is_selected = true
            end
            
            str += (key == "buy-tickets") ? "<li class='buy-tickets'>" : 
                    is_selected ? "<li class='menu-active'>" : "<li>"

            case key
            when "events"
              str += (link_to value, events_path)
            else
              str += (link_to value, root_path(anchor: key))
            end

            str += "</li>"
          end
        %>

        <%= str.html_safe %>
      </ul>
    </nav>
  </div>
</header>