<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <%= image_tag("logo.png", height: '200') %>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <% if params[:controller] == 'welcome' %>
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#partners">Partners</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><%= link_to "Past NUANSA", events_path %></li>
          <!-- <li class="buy-tickets"><a href="#intro"> Buy Tickets </a></li> -->
        <% else %>
          <li><a href="/#intro">Home</a></li>
          <li><a href="/#about">About Us</a></li>
          <li><a href="/#testimonials">Testimonials</a></li>
          <li><a href="/#partners">Partners</a></li>
          <li><a href="/#faq">FAQ</a></li>
          <li class="menu-active"><%= link_to "Past NUANSA", events_path %></li>
          <!-- <li class="buy-tickets"><a href="/#intro"> Buy Tickets </a></li> -->
        <% end %>
        <%= render 'layouts/login_button' %>
      </ul>
    </nav>
  </div>
</header>